@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  /* neutral-950 */
  --color-foreground: #f5f5f5;
  /* neutral-100 */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ensure next.js app container fills screen */
#__next,
body>div.antialiased {
  width: 100vw;
  height: 100vh;
}